@model QuizApp.Models.SustainQuizModel
@{
    ViewBag.Title = "SustainQuiz";
    var questionsForQuiz = ViewBag.questionsForQuiz as List<Repository.DTO.QuizQuestionDto>;
    var questionForQuiz = ViewBag.questionForQuiz as Dictionary<string, string>;
    ViewBag.questionsForQuiz = questionsForQuiz;
}

<h2>SustainQuiz</h2>
<div>
    <input id="btnHome" type="button" value="Home" onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />
    <input id="btnStatusQuiz" type="button" value="Status" onclick="@("window.location.href='" + @Url.Action("Status", "Home") + "'");" />
</div>
<div>
    <form name="formQuestion" method="post" action="/Admin/Question">
        <fieldset>
            <legend>
                Raspunde la quiz
            </legend>
            @foreach (var item in questionsForQuiz)
            {
                <ol>
                    <li>
                        <label>
                            Intrebarea:
                            @item.QuestionText
                        </label>
                    </li>

                    @if (item.IsSingleChoice == true)
                    {
                        <li>
                            <div>
                                <label>
                                    Prima varianta: @item.Answer1Text
                                </label>
                                <input type="radio" name="@item.QuestionText" id="FirstAnswer" value="1" />
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>
                                    A doua varianta  @item.Answer2Text
                                </label>
                                <input type="radio" name="@item.QuestionText" id="SecondAnswer" value="2" />
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>
                                    A treia varianta:  @item.Answer3Text
                                </label>
                                <input type="radio" name="@item.QuestionText" id="ThirdAnswer" value="3" />
                            </div>
                        </li>
                    }
                    @if (item.IsSingleChoice == false)
                    {
                    <li>
                        <div>
                            <label>
                               Prima varianta: @item.Answer1Text
                            </label>
                            <input type="checkbox" name="@item.QuestionText" id="FirstAnswer" value="1" />
                        </div>
                    </li>
                        <li>
                            <div>
                                <label>
                                 A doua varianta: @item.Answer2Text
                                </label>
                                <input type="checkbox" name="@item.QuestionText" id="SecondAnswer" value="2" />
                            </div>
                        </li>
                        <li>
                            <div>
                                <label>
                                 A treia varianta: @item.Answer3Text
                                </label>
                                <input type="checkbox" name="@item.QuestionText" id="ThirdAnswer" value="3" />
                            </div>
                        </li>
                    }

                </ol>
            }
        </fieldset>
    </form>


</div>