@{
    var user = Session["LoggedUser"] as Repository.DTO.UserDto;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - QuizApp</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p class="site-title">@Html.ActionLink("QuizApp", "Index", "Home")</p>
                </div>
                <div class="col-md-6">
                    <div class="pull-right">
                        @if (user == null)
                        {
                            @Html.ActionLink("Login", "Login", "Home")
                            <span>|</span>
                            @Html.ActionLink("Register", "Register", "Home")
                        }
                        else
                        {
                            <span>Logged in as </span><b>
                                @user.Username
                            </b><span>|</span>
                            @Html.ActionLink("Home", "Index", "Home");
                            <span>|</span>
                            if (user.Type == "teacher")
                            {
                                @Html.ActionLink("Admin", "Index", "Admin");
                            <span>|</span>
                            }
                            @Html.ActionLink("Logout", "Logout", "Home");
                        }
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="container main-content">
            @RenderBody()
        </section>
    </div>
    <footer>
        <div class="container">
            <p>&copy; @DateTime.Now.Year - QuizApp</p>
        </div>
    </footer>
</body>
</html>
