@{
    ViewBag.Title = "Administreaza Intrebari";
    var questions = ViewBag.Questions as List<Repository.DTO.QuizQuestionDto>;
    var domains = ViewBag.Domains as Dictionary<int, Repository.DTO.QuizQuestionDomainDto>;
    var subdomains = ViewBag.Subdomains as Dictionary<int, Repository.DTO.QuizQuestionSubdomainDto>;
}

<h2>Administreaza Intrebari</h2>

<div>

    <a class="btn navbar-btn btn-default" href="@Url.Action("Index", "Admin")">Acasa</a>
    <a class="btn btn-default" href="@Url.Action("Question", "Admin")">Creeaza Intrebare</a>

    <hr />

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intrebare</th>
                <th>Domeniu</th>
                <th>Subdomeniu</th>
                <th>Actiuni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in questions)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.QuestionText</td>
                    <td>@domains[item.DomainId].Name</td>
                    <td>@subdomains[item.SubdomainId].Name</td>
                    <td>
                        <a href="@Url.Action("Question", "Admin", new{questionId=item.Id})" class="icon"><span class="glyphicon glyphicon-edit" aria-hidden="true" /></a>
                        <a href="@Url.Action("DeleteQuestion", "Admin", new{questionId=item.Id})" class="icon"><span class="glyphicon glyphicon-remove" aria-hidden="true" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
