@{
    ViewBag.Title = "Administreaza Intrebari";
    var questions = ViewBag.Questions as List<Repository.DTO.QuizQuestionDto>;
}

<h2>Administreaza Intrebari</h2>

<div>
    <a class="btn btn-default" href="@Url.Action("Index", "Admin")">Acasa</a>
    <a class="btn btn-default" href="@Url.Action("Question", "Admin")">Creeaza Intrebare</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <td>Id</td>
                <td>Intrebare</td>
                <td>Domeniu</td>
                <td>Subdomeniu</td>
                <td>Actiuni</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in questions)
            {
                <tr>
                    <td scope="row">@item.Id</td>
                    <td>@item.QuestionText</td>
                    <td>*</td>
                    <td>*</td>
                    <td>
                        <a href="@Url.Action("Question", "Admin", new{questionId=item.Id})" class="icon"><span class="glyphicon glyphicon-edit" aria-hidden="true" /></a>
                        <a href="@Url.Action("DeleteQuestion", "Admin", new{questionId=item.Id})" class="icon"><span class="glyphicon glyphicon-remove" aria-hidden="true" /></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
