@{
    ViewBag.Title = "AssignQuizToUser";
    var users = ViewBag.Users as System.Collections.Generic.List<Repository.DTO.UserDto>;
    var quizes = ViewBag.Quizes as List<Repository.DTO.QuizDto>;
    var quizInstances = ViewBag.QuizInstances as Dictionary<string, List<string>>;
}

<div>
    <input id="btnNewQuestion" type="button" value="Acasa" onclick="@("window.location.href='" + @Url.Action("Index", "Admin") + "'");" />
</div>

<h2>AssignQuizToUser</h2>
@using (Html.BeginForm("AssignQuiz", "Admin", FormMethod.Post))
{
    @Html.ValidationSummary(true)

    if (ViewBag.Message != null)
    {
        <div style="border:2px solid red">
            @ViewBag.Message;
        </div>
    }
    <table>
        <tr>
            <td>
                <select name ="Username" id="Username">
                    @foreach (Repository.DTO.UserDto user in users)
                    {
                        <option value="@user.Username">@user.Username</option>
                    }
                </select>
            </td>
            <td>
                <select name="QuizId" id="QuizId">
                    @foreach (var quiz in quizes)
                    {
                        <option value="@quiz.Id">@quiz.QuizTitle</option>
                    }
                </select>
            </td>
            <td>
                <input type="submit" value="Asigneaza" />
            </td>
        </tr>
    </table>
}
<ul>
    @foreach (var item in quizInstances)
    {
        <li>
        <p>@item.Key</p>
        <ul>
            @foreach (var quiz in item.Value)
            {
                <li>@quiz</li>
            }
        </ul>
    </li>
    }
</ul>
