@model QuizApp.Models.CreateQuizModel
@{
    ViewBag.Title = "CreateQuiz";
}
@{
    var domains = ViewBag.Domains as List<Repository.DTO.QuizQuestionDomainDto>;
}
<h2>CreateQuiz</h2>

@using (Html.BeginForm("CreateQuiz", "Admin", FormMethod.Post))
{


    @Html.ValidationSummary(true)

    if (ViewBag.Message != null)
    {
        <div style="border:2px solid red">
            @ViewBag.Message;
        </div>
    }
    <table>
        <tr>
            <td>@Html.LabelFor(u => u.QuizTitle)</td>
            <td>@Html.TextBoxFor(u => u.QuizTitle)</td>
            <td>@Html.ValidationMessageFor(u => u.QuizTitle)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.PassingScore)</td>
            <td>@Html.TextBoxFor(u => u.PassingScore)</td>
            <td>@Html.ValidationMessageFor(u => u.PassingScore)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.QuestionsNumber)</td>
            <td>@Html.TextBoxFor(u => u.QuestionsNumber)</td>
            <td>@Html.ValidationMessageFor(u => u.QuestionsNumber)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(u => u.Time)</td>
            <td>@Html.TextBoxFor(u => u.Time)</td>
            <td>@Html.ValidationMessageFor(u => u.Time)</td>
        </tr>

        <tr>
            <td></td>
            <td>
                

            </td>
            <td></td>
        </tr>
    </table>
    <label>Selectati domeniul</label>
    <select name="DomainId" id="DomainId" style="width: 310px; height: 30px;">
        @foreach (var item in domains)
        {
            <option value="@item.Id" @(item.Id != null ? "selected" : String.Empty)>@item.Name</option>
        }
    </select>
    <input type="submit" value="Create " />
    <input id="btnHome" type="button" value="Home" onclick="@("window.location.href='" + @Url.Action("Index", "Admin") + "'");" />
                        
}