@model QuizApp.Models.QuestionModel
@{
   ViewBag.Title = "Question";
}
@{
    var domains = ViewBag.Domains as List<Repository.DTO.QuizQuestionDomainDto>;
}

<h2>Question</h2>

<div><h2>Detalii intrebare...</h2></div>
    <div>
        <form name="formQuestion" method="post" action="/Admin/Question">
            <fieldset>
                <legend>
                    Editare/Creare intrebare
                </legend>
                <ol>
                    <li>
                        <input id="btnSaveQuestion" type="submit" value="Salveaza" />    
                    </li>
                    <li>
                       <label>Selectatii domeniul</label>
                        <select name="DomainId" id="DomainId" style="width: 310px;
                               height: 30px;">
                            @foreach (var item in domains)
                            {
                                <option value="@item.Id" @(item.Id != null? "selected" : String.Empty)>@item.Name</option>
                            }
                        </select>
                    </li>
                    <li>
                        @Html.LabelFor(q => q.QuestionText)
                        @Html.TextAreaFor(q => q.QuestionText)
                    <li>
                        <div>
                            <div >
                                <label for="single">O singura varianta de raspuns</label>
                                <input type="radio" name="IsSingle" id="single" value="1" checked />
                            </div>

                            <div>
                                <label for="profesor">Mai multe variante de raspuns</label>
                                <input type="radio" name="IsSingle" id="multiple" value="0" />
                            </div>   
                        </div>
                    </li>
                    <li>
                        <div>         
                            @Html.LabelFor(q => q.FirstAnswer)
                            @Html.TextAreaFor(q => q.FirstAnswer)
                            @Html.CheckBoxFor(q => q.CorrectFirst)
                            Corect
                        </div>
                    </li>
                    <li>
                        <div>
                            @Html.LabelFor(q => q.SecondAnswer)
                            @Html.TextAreaFor(q => q.SecondAnswer)
                            @Html.CheckBoxFor(q => q.CorrectSecond)
                           Corect
                        </div>
                    </li>
                    <li>
                        <div>
                            @Html.LabelFor(q => q.ThirdAnswer)
                            @Html.TextAreaFor(q => q.ThirdAnswer)
                            @Html.CheckBoxFor(q => q.CorrectThird)
                            Corect
                        </div>
                    </li>
                    <li>
                        <input id="btnSaveQuestion" type="submit" value="Salveaza"/>
                    </li>
                </ol>
            </fieldset>
        </form>
    </div>
  


