@model QuizApp.Models.QuestionModel
@{
   ViewBag.Title = "Question";
}
@{
    var domains = ViewBag.Faculties as List<Repository.User>;
}

<h2>Question</h2>

<div><h2>Detalii intrebare...</h2></div>
    <div>
        <form name="formQuestion" method="post" action="/Admin/Question">
            <fieldset>
                <legend>
                    Editare/Creare intrebare
                </legend>
                <ol>
                    <li>
                        <input id="btnSaveQuestion" type="submit" value="Salveaza" />    
                    </li>
                    <li>
                       <label>Selectatii domeniul</label>
                        <select name="IdFaculty" id="Faculties" style="width: 310px;
                               height: 30px;">
                            <option value="id1">domain2</option>
                            <option value="id2">domain1</option>
                            @*@foreach (var item in domains)
                            {
                                <option value="@item.Id" @(item.Id != null ? "selected" : String.Empty)>@item.Username</option>
                            }*@
                        </select>
                    </li>
                    <li>
                        @Html.LabelFor(q => q.QuestionText)
                        @Html.TextAreaFor(q => q.QuestionText)
                    <li>
                        <div>
                        <input type="radio" name="typeAnswer" value="0" checked>O sigura varianta
                        <input type="radio" name="typeAnswer" value="1">Mai multe variante
                        </div>
                    </li>
                    <li>
                        <div>         
                            @Html.LabelFor(q => q.FirstAnswer)
                            @Html.TextAreaFor(q => q.FirstAnswer)
                            @Html.CheckBoxFor(q => q.CorrectFirst)
                            Corect
                        </div>
                    </li>
                    <li>
                        <div>
                            @Html.LabelFor(q => q.SecondAnswer)
                            @Html.TextAreaFor(q => q.SecondAnswer)
                            @Html.CheckBoxFor(q => q.CorrectSecond)
                           Corect
                        </div>
                    </li>
                    <li>
                        <div>
                            @Html.LabelFor(q => q.ThirdAnswer)
                            @Html.TextAreaFor(q => q.ThirdAnswer)
                            @Html.CheckBoxFor(q => q.CorrectThird)
                            Corect
                        </div>
                    </li>
                    <li>
                        <input id="btnSaveQuestion" type="submit" value="Salveaza"/>
                    </li>
                </ol>
            </fieldset>
        </form>
    </div>
  


