@{
    ViewBag.Title = "ViewDomains";
}
@{
    var domains = ViewBag.Domains as List<Repository.DTO.QuizQuestionDomainDto>;
}

<h2>ViewDomains</h2>

<div> <h1>Toate domeniile.....</h1></div>
<div>
    <input id="btnHome" type="button" value="Home" onclick="@("window.location.href='" + @Url.Action("Index", "Admin") + "'");" />
    <input id="btnNewQuestion" type="button" value="Domeniu nou" onclick="@("window.location.href='" + @Url.Action("CreateDomain", "Admin") + "'");" />
    <ul>
        @foreach (var item in domains)
        {
            <li> @item.Name</li>
        }
    </ul>
</div>